@import "../../assets/sass/constants/variables";
@import "../../assets/sass/constants/mixin.scss";

.Toastify__toast-login{
    width: 200px;
    text-align: center;
    margin-left: auto;
    background-color: $blue-3!important;
    // .Toastify__toast{
    // }
}