$fontSize-small: 13px;
$fontSize-medium: 18px;
$fontSize-large: 24px;
// color
$default-white: #fff;
$default-black: #000;
$grey-bold: rgba(146,144,144,0.28);
$grey-bold-2: #999;
$grey-light: rgba(206, 206, 206, 0.28);
$blue: #bd59d4;
$blue-2: #0056b3;
$brown-bold: #343d45;
$red: red;