$fontSize-small: 13px;
$fontSize-medium: 18px;
$fontSize-large: 24px;
// color
$default-white: #fff;
$default-black: #000;
$grey-bold: rgba(146,144,144,0.28);
$grey-bold-2: #999;
$grey-bold-3: #555;
$grey-light: rgba(206, 206, 206, 0.28);
$grey-light-2: #f5f5f5; 
$blue: #bd59d4;
$blue-2: #0056b3;
$blue-3: #85aee4;
$brown-bold: #343d45;
$brown-bold-2: #333;
$red: red;
$green:#61bd4f;