.signup{
    min-height: 100vh;
    background-color: $default-white;
    .signup-container{
        padding: 30px;
        @include flex-box($display: flex, $wrap: wrap, $justify: flex-end);
        @include responsive(XL) {
            @include size(100%);
        }
        .signup-background{
            background-image: url("../../../assets/images/common/signup.png");
            @include background-center;
            width: calc(100% - 560px);
            @include responsive(SM) {
                display: none;
            }
        }
        .signup-form{
            width: 453px;
            padding: 34px 55px;
            margin: 34px 34px 1rem 34px;
            background-color: $grey-light-2;
            @include border-radius(22px);
            @include responsive(SM) {
                width: 100%;
                margin: 50px 34px;
            }
            @include responsive(XS){
                padding: 34px 1rem;
            }
            form{
                .title{
                    text-align: center;
                    font-size: 31px;
                    margin-bottom: 2.5rem;
                    @include responsive(XS){
                        margin-top: 2rem;
                    }
                }

                .already-signup{
                    margin: 2rem 0;
                    color: $grey-bold-3;
                    a{
                        @include resetAnchor;
                        font-size: calc(#{$fontSize-small} + 1px);
                        &:hover{
                            color: $blue-2;
                        }
                    }
                }
                .signup-btn{
                    button{
                        @include border-radius(10px);
                        padding: 1rem 2rem;
                    }
                }
            }
        }
    }
}