.forgot-password-page{
    min-height: 100vh;
    position: relative;
    background-color: $default-white;
    @include flex-box($display: flex, $align: center);
    .container{
        padding: 30px;
        @include flex-box($display: flex, $direction: row, $wrap: wrap, $justify: flex-end);
        @include size(100%);
        @include responsive(XL) {
            @include size(100%);
        }
        .forgot-password-background{
            background-image: url("../../../assets/images/common/signup.png");
            @include size(calc(100% - 560px), 456px);
            @include background-center;
            @include responsive(SM) {
                display: none;
            }
        }
        .forgot-password-form{
            width: 453px;
            margin: 34px 34px 1rem 34px;
            padding: 34px 55px;
            background-color: $grey-light-2;
            @include border-radius(22px);
            @include responsive(SM) {
                width: 100%;
                margin: 50px 34px;
            }
            form{
                .title{
                    text-align: center;
                    font-size: 31px;
                    margin-bottom: 2.5rem;
                    @include responsive(XS){
                        margin-top: 2rem;
                    }
                }
                .description{
                    font-size: $fontSize-small;
                    color: $grey-bold-2;
                    margin-bottom: 1rem;
                    text-align: center;
                }
                .input-group{
                    margin-bottom: 2rem;
                }
                .reset-password-btn{
                    button{
                        margin: 0 0 2rem 0;
                        padding: 1rem 0;
                        @include border-radius(10px);
                    }
                }
                .return-login{
                    color: $grey-bold-3;
                    text-align: center;
                    a{
                        @include resetAnchor;
                        font-size: calc(#{$fontSize-small} + 1px);
                        color: $blue;
                        &:hover{
                            color: $blue-2;
                        }
                    }
                }
            }
        }
    }
}