.login{
    @include size(100%);
    .login-container{
        padding: 10% 0;
        @include responsive(SM){
            padding: 0
        }
        @include size(100%);

        .background{
            @include responsive(SL){
                width: calc(100% - 571px);
            }
            @include responsive(XL) {
                width: calc(100% - 456px);
            }
            @include responsive(LG){
                width: calc(100% - 315px);
            }
            @include responsive(SM){
                @include size(100%);
                margin: 0;
                padding: 1rem;
            }
            margin: 0 auto;
            position: relative;
            background-image: url("../../../assets/images/common/login-background.jpg");
            min-height: 400px;
            @include background-center;
            @include box-shadow(1px 0px 13px -1px rgba(189,89,212,1));

            .login-form{
                transform: translateY(-50%);
                background-color: $default-white;
                padding: 1rem;
                z-index: z-index("block");
                @include box-shadow(0px 0px 9px 0px rgba(82,81,81,0.75));
                @include position(absolute, $top: 50%, $left: 5%);
                @include border-radius(22px);
                @include size(50%, 120%);
                @include responsive(SL){
                    width: 40%;
                }
                @include responsive(MD){
                    width: 52%;
                }
                @include responsive(SM){
                    @include position(inherit, $left: 0);
                    @include size(100%, 100%);
                }

                form{

                    .title{
                        text-align: center;
                        margin-top: 14%;
                        margin-bottom: 1.75rem;
                    }

                    .input-group{
                        .username, .password{
                            position: relative;
                            &:last-child{
                                margin-bottom: 2rem;
                            }
                            input[type="text"], input[type="password"]{
                                height: 40px;
                                padding: .5rem 1rem;
                                border: solid 1px $grey-bold-2;
                                @include border-radius(20px);
                                @include transition(all .3s ease);
                                &:focus{
                                    border: 1px solid $red;
                                }
                            }
                            label{
                                background-color: $default-white;
                                color: $grey-bold-2;
                                font-size: 12px;
                                padding: 0 .25rem;
                                @include position(absolute, $top: -6px, $left: 17px);
                            }
                        }
                    }

                    .forgot-password,
                    .return-signup{
                        margin-bottom: 1.5rem;
                        text-align: right;
                        a{
                            text-decoration: none;
                            font-size: 14px;
                            color: $blue;
                            @include transition(all .3s ease);
                            &:hover{
                                color: $blue-2;
                            }
                        }
                    }

                    .login-btn{
                        button{
                            padding: .85rem 2rem;
                            @include border-radius(30px);
                        }
                    }    
                }
            }
            
            .register{
                width: 25%;
                text-align: center;
                transform: translateY(-50%);
                @include position(absolute, $top: 50%, $right: 10%);
                p{
                    color: $default-white;
                    font-size: calc(#{$fontSize-medium});
                    @include responsive(LG){
                        font-size: calc(#{$fontSize-small} + 1px);
                    }
                    letter-spacing: 1px;
                    margin-bottom: 1rem;
                }
                .register-btn{
                    display: inline-block;
                    @include resetAnchor;
                    border: 3px solid $grey-light-2;
                    background-color: transparent;
                    padding: .75rem 1.75rem;
                    cursor: pointer;
                    color: $grey-light-2;
                    @include border-radius(50px);
                    @include transition(all .3s ease);
                    &:hover{
                        border: 3px solid $default-white;
                        color: $default-white;
                    }
                }
            }
        }
    }
}